.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
.Rprofile

## cache folders
reproducible.cache/
climr.cache/

BGCprojections-leaflet.R
Build_WNA_BGC_trainingset.Rmd
global.R
trainingpts_w_clim_Final.Rdata

tables/
R/
modules/

RF_models/

